body{
  display: flex;
  justify-content: center;
  height: 1250px;
   width: 1000px;
   margin: 60px auto 0;
   text-align: center;
   padding: 35px;
   border: 3px solid rgb(255, 194, 13);
border-radius: 70px 0 70px 0;
background-image: url(https://wallpaperaccess.com/full/2384080.jpg);
}

ul{
  display: flex;
  list-style: none;
}

li{
  padding: 5px;
}
li:hover{
  background-color: burlywood;
}
